body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: ghostwhite;
}
.center {
    display: grid;
    justify-content: center;
    align-items: center;
}
input[type="text"] {
    background: 000;
    width: 80vw;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    border: 0.5px solid #ccc;
    transition: all 0.5s ease;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
}
input[type="text"]:focus {
    background: #eeeeee;
    outline: none;
}
#submit_btn {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    background: 000;
    border: 0.5px solid #ccc;
    padding: 10px;
    transition: all 0.5s ease;
}
#submit_btn:hover,
#dl_btn:hover {
    background: #eeeeee;
}
#results_div {
    margin-top: 3vh;
    border: 0.5px solid #ccc;
    width: 85vw;
    transition: all 0.5s ease;
}
video {
    width: 100%;
    display: block;
    margin: 0px auto;
}
#FileName_id {
    display: block;
    text-overflow: ellipsis;
    font-size: 70%;
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
}
#Size_id {
    display: block;
    text-overflow: ellipsis;
    font-size: 70%;
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
}
#dl_btn,#dl_btn2 {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    background: 000;
    border: 0.5px solid #ccc;
    padding: 10px;
    width: 100%;
    transition: all 0.5s ease;
}
.text-center{
  text-align: center;
}
.font{
  font-family: "Nanum Gothic Coding", monospace;
}
#results_div1 {
  visibility: hidden;
  opacity: 0;
  transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
}